.container {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.sliderContainer {
    padding-left: 4%;
    padding-right: 4%;
}
.speedSlider {
    margin: 1vh;
}
.distanceSlider {
    margin: 1vh
}
.carSelection {
    margin: 1vh;
}
.toolBar {
    text-align: center;
    color: white;
}
.appBar {
    background-color: #3f50b5;
    height: 50px;
}
.carButtons {
    margin-top: 1vh;
}
.calcWrapper {
    flex: 1;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 2px;
    border-color: #3f50b5;
    border-style: solid;
    padding-bottom: 2%;
}
.results {
    display: flex;
    flex-direction: row;
}
.consumptionResults {
    flex: 1;
}
.timeResults {
    flex: 1;
}